<div class="jumbotron">
    <h1><span class="zf-green">Welcome to Zend Framework </span> </h1>
    <p>Congratulations! You have successfully installed the ZF2 Skeleton Application.
    </p>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Follow Development</h3>
            </div>
            <div class="panel-body">
                
                <div class="panel-title">Follow Development</div>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Discover Modules</h3>
            </div>
            <div class="panel-body">
                <div class="panel-title">Discover Modules</div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Help &amp; Support</h3>
            </div>
            <div class="panel-body">
                <div class="panel-title">Help &amp; Support</div>
            </div>
        </div>
    </div>
</div>
